
/* Initial State - Hidden on the right */
.text-white h2, .text-white p { 
    opacity: 0;
    transform: translateX(50px); /* Adjust for desired slide-in distance */
  }
  
  /* Animation */
  .animate-text { 
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in, transform 0.5s ease-out; /* Adjust timings if needed */
  }