@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html,
body,
#root {
  /* styles for the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #b91c1c #991b1b;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: unset;
  height: 100vh;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination .swiper-pagination-vertical{
    width: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #b91c1c;
    border-radius: 0.25em;
}

.swiper-pagination-bullet {
    width: 1em !important;
    height: 1em !important;
    background-color: white !important;
    opacity: 1 !important;
    border-radius: .25em !important;
}

.swiper-pagination-bullet-active {
    border-radius: .25em !important;
    background-color: #991b1b !important;
}